<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Manage employees</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/create-new">
                <span class="oi oi-plus" aria-hidden="true"></span> Add new employee
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/search">
                <span class="oi oi-loop" aria-hidden="true"></span> Search for an employee
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-file" aria-hidden="true"></span> Send an e-mail
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}